/* ================================================================ 
  BASE START 
================================================================  */

html, body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
}

html, body, ul, ol, li, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, p {
  border: 0;
  margin: 0;
  padding: 0;
}

	h1 {
		font-size: 2.2em;
		padding: .5em 0;
	}

	h2 {
		font-size: 2em;
		color: #F15A24;
	}

img {
	max-width: 100%;
	height: auto;
}

li {
  list-style: none;
  display: inline-block;
}

	li img {
		width: 32px;
  		height: auto;
	}

	.images {
		margin: 0 .5em;
	}

.navbar-header {
	text-align: center;
	background-color: #F15A24;
}

.navbar {
  background-color: #CCCCCC;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

	.navbar-nav > li {
		float: none;
  		display: inline-block;
	}

	.tabtxt {
		padding-top: .2em;
		color: #FFFFFF;
	}

.content {
	margin: 8em 0;
}

.btn {
	color: #FFFFFF;
	background-color: #F15A24;
	border: none;
}

/* Links */

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #7C7C7C;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #F15A24;
}

a:hover {
	opacity: .5;
}

/* ================================================================ 
  BASE END
================================================================  */



/* ================================================================ 
  MAIN PAGE START 
================================================================  */

.title {
	text-align: center;
	padding: .25em 0;
}

.groups {
	text-align: center;
	margin-top: 2em;
}

/* ================================================================ 
  MAIN PAGE END
================================================================  */



/* ================================================================ 
  GROUPS PAGE START 
================================================================  */

.people {
	padding: 1em 0;
	border-bottom: 1px solid #CCCCCC;
}

.panels {
	text-align: center;
	margin: 2em 0;
}

	.panels img {
		padding-bottom: 2em;
	}

	.panels .btn {
		width: 44px;
		height: auto;
	}

.imgbtn img {
	width: 44px;
	height: auto;
}

/* ================================================================ 
  GROUPS PAGE END 
================================================================  */



/* ================================================================ 
  TRADES PAGE START 
================================================================  */

.trade {
	text-align: center;
	padding-top: 8em;
}

.tradebtn {
	margin-top: 5em;
	text-align: center;
}

/* ================================================================ 
  TRADES PAGE START 
================================================================  */



/* ================================================================ 
  BOOKMARKS PAGE START 
================================================================  */

.tabs {
	text-align: center;
}

	.set {
		margin: 0 1em;
	}

/* ================================================================ 
  BOOKMARKS PAGE END
================================================================  */



/* ================================================================ 
  CHEFS PAGE START 
================================================================  */

.chefs {
	text-align: center;
	margin-top: 2em;
}

	.chefs img {
		margin: 0 2em;
	}

/* ================================================================ 
  CHEFS PAGE END
================================================================  */



/* ================================================================ 
  POST PAGE START 
================================================================  */

.picture {
	text-align: center;
}

	.thing {
		width: 300px;
		height: 300px;
		border: dashed 2px #CCCCCC;
	}

.comment {
	text-align: center;
	margin-top: 3em;
}

	textarea {
		width: 300px;
		margin-bottom: 2em;
		color: black;
	}

/* ================================================================ 
  POST PAGE END 
================================================================  */



/* ================================================================ 
  NOTIFICATIONS PAGE START 
================================================================  */

.contacts {
	overflow: hidden;
	color: black;
}

/* ================================================================ 
  NOTIFICATIONS PAGE END 
================================================================  */