<!-- Header Start -->
<nav class="navbar navbar-fixed-top">

	<div class="navbar-header">

		<div class="navwrapper1">
			<div class="header-icon3 col-sm-2">
				<a ng-href="#/"><img ng-src="img/icon_back.png" alt="back"/></a>
			</div>
			<div class="header-title col-sm-6">
				<h1>Bookmarks</h1>
			</div>
		</div>

		<div class="navwrapper2">
			<div class="header-icon1 col-sm-2">
				<a ng-href="#/notifications"><img ng-src="img/icon_notifications.png" alt="notifications"/></a>
			</div>
			<div class="header-icon2 col-sm-2">
				<a ng-href="#/bookmarks"><img ng-src="img/icon_bookmarks.png" alt="bookmarks"/></a>
			</div>
		</div>

	</div>
        
</nav>
<!-- Header End -->

<!-- Content Start -->
<div class="content">

	<div class="chefs">
		<ul>
			<li><a ng-href="#/food"><img src="http://placehold.it/64x64" width="64" height="64"/></a></li>
			<li><a ng-href="#/food"><img src="http://placehold.it/64x64" width="64" height="64"/></a></li>
			<li><a ng-href="#/food"><img src="http://placehold.it/64x64" width="64" height="64"/></a></li>
		</ul>
		<ul>
			<li><a ng-href="#/food"><p>name</p></a></li>
			<li><a ng-href="#/food"><p>name</p></a></li>
			<li><a ng-href="#/food"><p>name</p></a></li>
		</ul>
	</div>

</div>
<!-- Content End -->