<!-- Header Start -->
<nav class="navbar navbar-fixed-top">

	<div class="navbar-header">

		<div class="navwrapper1">
			<div class="header-icon3 col-sm-2">
				<!-- <a ng-href="#/"><img ng-src="img/icon_back.png" alt="back"/></a> -->
				<a ng-href="#/"><img ng-src="img/icon_home.png" alt="home"/></a>
			</div>
			<div class="header-title col-sm-6">
				<h1>Bookmarks</h1>
			</div>
		</div>

		<div class="navwrapper2">
			<div class="header-icon1 col-sm-2">
				<a ng-href="#/notifications"><img ng-src="img/icon_notifications.png" alt="notifications"/></a>
			</div>
			<div class="header-icon2 col-sm-2">
				<a ng-href="#/bookmarks"><img ng-src="img/icon_bookmarks.png" alt="bookmarks"/></a>
			</div>
		</div>

	</div>
        
</nav>
<!-- Header End -->

<!-- Content Start -->
<div class="content">

	<div class="chefs">
		  <table>
		  <tr>
		    <td><a ng-href="#/food"><img ng-src="img/profile1.png" alt="chef1"/></td>
		    <td><a ng-href="#/food"><img ng-src="img/profile2.png" alt="chef2"/></td> 
		    <td><a ng-href="#/food"><img ng-src="img/profile3.png" alt="chef3"/></td>
		  </tr>
		  <tr>
		    <td><a ng-href="#/food"><p>Chef_Jelly</p></td>
		    <td><a ng-href="#/food"><p>Alfredo</p></td> 
		    <td><a ng-href="#/food"><p>Linguini</p></td>
		  </tr>
		</table>
	</div>

</div>
<!-- Content End -->