<!-- Header Start -->
<nav class="navbar navbar-fixed-top">

	<div class="navbar-header">

		<div class="navwrapper1">
			<div class="header-icon3 col-sm-2">
				<a ng-href="#/"><img ng-src="img/icon_back.png" alt="back"/></a>
			</div>
			<div class="header-title col-sm-6">
				<h1>Chats</h1>
			</div>
		</div>

		<div class="navwrapper2">
			<div class="header-icon1 col-sm-2">
				<a ng-href="#/notifications"><img ng-src="img/icon_notifications.png" alt="notifications"/></a>
			</div>
			<div class="header-icon2 col-sm-2">
				<a ng-href="#/bookmarks"><img ng-src="img/icon_bookmarks.png" alt="bookmarks"/></a>
			</div>
		</div>

	</div>
        
</nav>
<!-- Header End -->

<!-- Content Start -->
<div class="content">

	<div class="message-box">

		<!-- Person 1: Start -->
		<div class="chat">
			<div class="contacts-pic">
				<img src="http://placehold.it/32x32" width="32" height="32"/>
			</div>
			<div class="chatmessages">
				<a ng-href="#/chats"><h3>Woofie</h3></a>
				<p>Sent you a request:</p>
				<p><img src="http://placehold.it/200x200" width="200" height="200"/></p>
				<!-- <p><img src="http://placehold.it/128x128" width="128" height="128"/></p> -->
			</div>
		</div>

		<!-- Person 2: Start -->
		<div class="chat">
			<div class="contacts-pic">
				<img src="http://placehold.it/32x32" width="32" height="32"/>
			</div>
			<div class="chatmessages">
				<a ng-href="#/chats"><h3>Fatty</h3></a>
				<p>Accepted your request</p>
			</div>
		</div>

		<!-- Person 1: Start -->
		<div class="chat">
			<div class="contacts-pic">
				<img src="http://placehold.it/32x32" width="32" height="32"/>
			</div>
			<div class="chatmessages">
				<a ng-href="#/chats"><h3>Woofie</h3></a>
				<p>Sent you a request:</p>
				<p><img src="http://placehold.it/200x200" width="200" height="200"/></p>
				<!-- <p><img src="http://placehold.it/128x128" width="128" height="128"/></p> -->
			</div>
		</div>
	</div>

	<div class="comment navbar-fixed-bottom">
	  <form ng-controller="ChatsCtrl">
	    <textarea ng-model="txtcomment" placeholder="Comment here"></textarea>
	  </form>
	  <div class="chat-buttons">
			<ul>
				<li><a class="btn btn-default btn-green" ng-href="#">accept</a></li>
				<li><a class="btn btn-default btn-red" ng-href="#">decline</a></li>
				<li><a ng-click="buttonAdd();" class="btn btn-default" ng-href="#">send</a></li>
			<ul>
		</div> 
	</div>

</div>
<!-- Content End -->