<!-- Header Start -->
<nav class="navbar navbar-default navbar-fixed-top custom-navbar-top">

	<div class="navbar-header col-sm-12">
    	<h1>Bookmarks</h1>
    </div>
        
</nav>
<!-- Header End -->

<!-- Content Start -->
<div class="content">

	<div class="tabs">
		<a class="set btn btn-default" ng-href="#/bookmarks">foods</a>
		<a class="set btn btn-default" ng-href="#/chefs">chefs</a>
	</div>

	<div class="chefs">
		<img class="images" src="http://placehold.it/64x64" width="64" height="64"/>
		<img class="images" src="http://placehold.it/64x64" width="64" height="64"/>
		<img class="images" src="http://placehold.it/64x64" width="64" height="64"/>
	</div>

	<div class="chefs">
		<img class="images" src="http://placehold.it/64x64" width="64" height="64"/>
		<img class="images" src="http://placehold.it/64x64" width="64" height="64"/>
		<img class="images" src="http://placehold.it/64x64" width="64" height="64"/>
	</div>

</div>
<!-- Content End -->