<!-- Header Start -->
<nav class="navbar navbar-fixed-top">

	<div class="navbar-header">

		<div class="header-icon3 col-sm-2">
			<a ng-href="#/"><img ng-src="img/icon_back.png" alt="back"/></a>
		</div>

		<div class="header-title col-sm-6">
			<h1>Author</h1>
		</div>

		<div class="header-icon1 col-sm-2">
			<a ng-href="#/notifications"><img ng-src="img/icon_notifications.png" alt="notifications"/></a>
		</div>

		<div class="header-icon2 col-sm-2">
			<a ng-href="#/bookmarks"><img ng-src="img/icon_bookmarks.png" alt="bookmarks"/></a>
		</div>

	</div>
        
</nav>
<!-- Header End -->

<!-- Content Start -->
<div class="content"> 

	<div class="image-slider">
		<div ng-controller="FoodCtrl" class="example">
			<a name="touch"></a>
		    <div class="slider touch">
		    	<div class="food-images">
			        <div class="page"><img src="http://placehold.it/400x300" width="400" height="300"/></div>
			        <div class="page"><img src="http://placehold.it/400x300" width="400" height="300"/></div>
			        <div class="page"><img src="http://placehold.it/400x300" width="400" height="300"/></div>
			        <div class="page"><img src="http://placehold.it/400x300" width="400" height="300"/></div>
			    </div>
		    </div>
		</div>
	</div>

	<div class="profile-pic">
		<img src="http://placehold.it/80x80" width="80" height="80"/>
	</div>

	<div class="content-nav">

		<!-- <div class="rating">
			<ul>
				<li><img ng-src="img/icon_ratingactive.png" alt="ratingactive"/></li>
				<li><img ng-src="img/icon_ratingactive.png" alt="ratingactive"/></li>
				<li><img ng-src="img/icon_ratingdeactive.png" alt="ratingdeactive"/></li>
			</ul>
		</div> -->

		<div class="buttons">
			<ul>
				<li><a class="btn btn-default" ng-href="#">follow</a></li>
				<li><a class="btn btn-default" ng-href="#/chats">chat</a></li>
				<li><a class="btn btn-default" ng-href="#">request</a></li>
			<ul>
		</div>

	</div>

	<div class="description">
		<div ng-controller="FoodCtrl" class="example">
			<a name="touch"></a>
		    <div class="slider touch">
		    	<div class="food-images">
			        <div class="page">
			        	<h2>Salad</h2>
						<p>Yum yums chicken salad!<p>
			        </div>
			        <div class="page">
			        	<h2>Chili</h2>
						<p>Yum yums chili!<p>
			        </div>
			        <div class="page">
			        	<h2>Dumplings</h2>
						<p>Yum yums dumplings!<p>
			        </div>
			        <div class="page">
			        	<h2>Pasta</h2>
						<p>Yum yums pasta!<p>
			        </div>
			    </div>
		    </div>
		</div>
	</div>

	<!-- <div class="description">
		<h2>Salad</h2>
		<p>Yum yums chicken salad!<p>
	</div> -->

	<!-- <div class="comments navbar-fixed-bottom">
		<a ng-href="#">comments</a>
	</div> -->

</div>
<!-- Content End -->