<!-- Header Start -->
<nav class="navbar navbar-fixed-top">

	<div class="navbar-header">

		<div class="navwrapper1">
			<div class="header-icon3 col-sm-2">
				<a ng-href="#/"><img ng-src="img/icon_back.png" alt="back"/></a>
			</div>
			<div class="header-title col-sm-6">
				<h1>Author</h1>
			</div>
		</div>

		<div class="navwrapper2">
			<div class="header-icon1 col-sm-2">
				<a ng-href="#/notifications"><img ng-src="img/icon_notifications.png" alt="notifications"/></a>
			</div>
			<div class="header-icon2 col-sm-2">
				<a ng-href="#/bookmarks"><img ng-src="img/icon_bookmarks.png" alt="bookmarks"/></a>
			</div>
		</div>

	</div>
        
</nav>
<!-- Header End -->

<!-- Content Start -->
<div class="content"> 

	<div class="image-slider">
		<div ng-controller="FoodCtrl" class="example">
			<a name="touch"></a>
		    <!-- <div class="slider touch">
		    	<div class="food-images">
			        <div class="page"><img src="http://placehold.it/400x300" width="400" height="300"/></div>
			        <div class="page"><img src="http://placehold.it/400x300" width="400" height="300"/></div>
			        <div class="page"><img src="http://placehold.it/400x300" width="400" height="300"/></div>
			        <div class="page"><img src="http://placehold.it/400x300" width="400" height="300"/></div>
			    </div>
		    </div> -->
	    	<div class="food-images">
		        <div class="coverflow"></div>
		    </div>
		</div>
	</div>

	<div class="profile-pic">
		<img src="http://placehold.it/80x80" width="80" height="80"/>
	</div>

	<div class="content-nav">

		<!-- <div class="rating">
			<ul>
				<li><img ng-src="img/icon_ratingactive.png" alt="ratingactive"/></li>
				<li><img ng-src="img/icon_ratingactive.png" alt="ratingactive"/></li>
				<li><img ng-src="img/icon_ratingdeactive.png" alt="ratingdeactive"/></li>
			</ul>
		</div> -->

		<div class="buttons">
			<ul>
				<li><a class="btn btn-default" ng-href="#">follow</a></li>
				<li><a class="btn btn-default" ng-href="#/chats">chat</a></li>
				<li><a class="btn btn-default" ng-href="#">request</a></li>
			<ul>
		</div>

	</div>

	<div class="description" id="testing">
		<div ng-controller="FoodCtrl" class="example">
			<a name="touch"></a>
		    <!-- <div class="slider touch">
		    	<div class="food-images">
			        <div class="page">
			        	<h2>Salad</h2>
						<p>Yum yums chicken salad!</p>
			        </div>
			    </div>
		    </div> -->
	    	<div class="food-images">
		        <div class="page">
		        	<h2>Salad</h2>
					<p>Yum yums chicken salad!</p>
		        </div>
		    </div>
		</div>
	</div>

	<!-- <div class="description">
		<h2>Salad</h2>
		<p>Yum yums chicken salad!<p>
	</div> -->

	<!-- <div class="comments navbar-fixed-bottom">
		<a ng-href="#">comments</a>
	</div> -->

</div>
<!-- Content End -->

<!-- Page Specific JS -->
<script type="text/javascript">
	// for(var i = 0; i < 10; i++) {
	// 	console.log(sessvars.myObj[i]);
	// 	console.log(sessvars.myCaption[i]);
	// }
	var imgSrcString = "url(" + sessvars.myObj[sessvars.evt] + ")";
	var h2tag = sessvars.myCaption[sessvars.evt].split(" ");
	    h2tag = h2tag[0] + " " + h2tag[1];
	var ptag  = sessvars.myCaption[sessvars.evt];
	// $(".page img").attr('src', imgSrcString);
	$(".coverflow").css('background-image', imgSrcString);
	// console.log(h2tag);
	// console.log(ptag);
	$( ".page h2" ).replaceWith( "<h2>" + h2tag + "</h2>" );
	$( ".page p" ).replaceWith( "<p>" + ptag + "</p>" );
	// console.log(sessvars.evt);
</script>







