<!-- Header Start -->
<nav class="navbar navbar-fixed-top">

	<div class="navbar-header">

		<div class="navwrapper1">
			<div class="header-icon3 col-sm-2">
				<a ng-href="#/"><img ng-src="img/icon_back.png" alt="back"/></a>
			</div>
			<div class="header-title col-sm-6">
				<h1>Food</h1>
			</div>
		</div>

		<div class="navwrapper2">
			<div class="header-icon1 col-sm-2">
				<a ng-href="#/notifications"><img ng-src="img/icon_notifications.png" alt="notifications"/></a>
			</div>
			<div class="header-icon2 col-sm-2">
				<a ng-href="#/bookmarks"><img ng-src="img/icon_bookmarks.png" alt="bookmarks"/></a>
			</div>
		</div>

	</div>
        
</nav>
<!-- Header End -->

<!-- Content Start -->
<div class="content"> 

	<!-- Image Cover: Start -->
	<div class="image-slider">
		<div ng-controller="FoodCtrl" class="example">
	    	<div class="food-images">
		        <div class="coverflow"></div>
		    </div>
		</div>
	</div>
	<!-- Image Cover: End -->

	<!-- Profile Content: Start -->
	<div class="profile-pic">
		<img src="http://placehold.it/80x80" width="80" height="80"/>
	</div>

	<!-- <div class="content-nav">
		<div class="buttons">
			<ul>
				<li><a class="btn btn-default" ng-href="#">follow</a></li>
				<li><a class="btn btn-default" ng-href="#/chats">chat</a></li>
				<li><a class="btn btn-default" ng-href="#">request</a></li>
			<ul>
		</div>
	</div> -->
	<!-- Profile Content: End -->

	<!-- Instafeed Post: Start -->
	<div class="description" id="testing">
		<div ng-controller="FoodCtrl" class="example">
	    	<div class="food-images">
		        <div class="page">
		        	<h2>Salad</h2>
					<p>Yum yums chicken salad!</p>
		        </div>
		    </div>
		</div>
	</div>
	<!-- Instafeed Post: End -->

	<!-- Comments: Start --> 
	<div class="comments">
		<form ng-controller="FoodCtrl">

	    <textarea id="value" ng-model="txtcomment" placeholder="Comment here"></textarea>

	    <div class="chat-buttons">
			<ul>
				<li><a class="btn btn-default" ng-href="#">follow</a></li>
				<li><a class="btn btn-default" ng-href="#">request</a></li>
				<li><a onclick="APP.insert();" ng-click="btnAdd();" class="btn btn-default">post</a></li>
				<li><a id="fetch" onclick="APP.fetch();" class="btn btn-default">refresh</a></li>
			<ul>
		</div> 
		<div class="commentslist">
			<h4>Comments</h4>
		    <ul id="output">
		      <li ng-repeat="comnt in comment track by $index"> {{ comnt }} <a href=""></a></li>
		    </ul>
		</div>
	  </form> 
	</div>
	<!-- Comments: End --> 

		<!-- <div class="message-box">
		
		<div class="chat">
			<div class="contacts-pic">
				<img src="http://placehold.it/32x32" width="32" height="32"/>
			</div>
			<div class="chatmessages">
				<h3>Woofie</h3>
				<p>Sent you a request</p>
			</div>
		</div>

		<div class="chat">
			<div class="contacts-pic">
				<img src="http://placehold.it/32x32" width="32" height="32"/>
			</div>
			<div class="chatmessages">
				<h3>Fatty</h3>
				<p>Accepted your request</p>
			</div>
		</div>

		<div class="chat">
			<div class="contacts-pic">
				<img src="http://placehold.it/32x32" width="32" height="32"/>
			</div>
			<div class="chatmessages">
				<h3>Woofie</h3>
				<p>Sent you a request</p>
			</div>
		</div>
	</div>

	<div class="comments navbar-fixed-bottom">
		<form ng-controller="FoodCtrl">
	    	<textarea ng-model="txtcomment" placeholder="Comment here"></textarea>
	  	</form>
	  	<div class="chat-buttons">
			<ul>
				<li><a class="btn btn-default" ng-href="#">follow</a></li>
				<li><a class="btn btn-default" ng-href="#">request</a></li>
				<li><a ng-click="buttonAdd();" class="btn btn-default" ng-href="#">send</a></li>
			<ul>
		</div> 
	</div> -->

</div>
<!-- Content End -->

<!-- Page Specific JS -->
<script type="text/javascript">
	// for(var i = 0; i < 10; i++) {
	// 	console.log(sessvars.myObj[i]);
	// 	console.log(sessvars.myCaption[i]);
	// 	console.log(sessvars.myUser[i]);
	// 	console.log(sessvars.myUserPic[i]);
	// }
	var imgSrcString = "url(" + sessvars.myObj[sessvars.evt] + ")";
	var h2tag = sessvars.myCaption[sessvars.evt].split(" ");
	    h2tag = h2tag[0] + " " + h2tag[1];
	var ptag  = sessvars.myCaption[sessvars.evt];
	// $(".page img").attr('src', imgSrcString);
	$(".coverflow").css('background-image', imgSrcString);
	// console.log(h2tag);
	// console.log(ptag);
	$( ".page h2" ).replaceWith( "<h2>" + h2tag + "</h2>" );
	$( ".page p" ).replaceWith( "<p>" + ptag + "</p>" );
	// console.log(sessvars.evt);
	var profilePic = sessvars.myUserPic[sessvars.evt];
	$(".profile-pic img").attr('src', profilePic);
</script>







