<!-- Header Start -->
<nav class="navbar navbar-default navbar-fixed-top custom-navbar-top">

	<div class="navbar-header col-sm-12">
    	<h1>Dishes</h1>
    </div>
        
</nav>
<!-- Header End -->

<!-- Content Start -->
<div class="content">

	<div class="title">
		<h2>Group</h2>
	</div>

	<div class="people">
		<img class="images" src="http://placehold.it/44x44" width="44" height="44"/>
		<img class="images" src="http://placehold.it/44x44" width="44" height="44"/>
		<img class="images" src="http://placehold.it/44x44" width="44" height="44"/>
		<a class="imgbtn images" ng-href="#"><img alt="add" ng-src="img/button_add.png"></a>
	</div>

	<div class="panels">
		<img src="http://placehold.it/400x250" width="400" height="250"/>
			<a class="imgbtn" ng-href="#/bookmarks"><img alt="bookmark" ng-src="img/button_bookmark.png"></a>
			<a class="imgbtn" ng-href="#/trades"><img alt="trade" ng-src="img/button_trade.png"></a>
	</div>

	<div class="panels">
		<img src="http://placehold.it/400x250" width="400" height="250"/>
			<a class="imgbtn" ng-href="#/bookmarks"><img alt="bookmark" ng-src="img/button_bookmark.png"></a>
			<a class="imgbtn" ng-href="#/trades"><img alt="trade" ng-src="img/button_trade.png"></a>
	</div>

</div>
<!-- Content End -->