<!-- Header Start -->
<nav class="navbar navbar-default navbar-fixed-top custom-navbar-top">

	<div class="navbar-header col-sm-12">
    	<h1>Dishes</h1>
    </div>
        
</nav>
<!-- Header End -->

<!-- Content Start -->
<div class="content">

	<div class="title">
		<h2>What's Cooking?</h2>
	</div>

	<div class="groups">
		<img class="images" src="http://placehold.it/150x150" width="150" height="150"/>
		<img class="images" src="http://placehold.it/150x150" width="150" height="150"/>
	</div>

</div>
<!-- Content End -->