<!-- Header Start -->
<nav class="navbar navbar-fixed-top">

	<div class="navbar-header">

		<div class="navwrapper1">
			<div class="header-icon3 col-sm-2">
				<img ng-src="img/logo.png" alt="logo"/>
			</div>
			<div class="header-title col-sm-6">
				<h1>Discover</h1>
			</div>
		</div>

		<div class="navwrapper2">
			<div class="header-icon1 col-sm-2">
				<a ng-href="#/notifications"><img ng-src="img/icon_notifications.png" alt="notifications"/></a>
			</div>
			<div class="header-icon2 col-sm-2">
				<a ng-href="#/bookmarks"><img ng-src="img/icon_bookmarks.png" alt="bookmarks"/></a>
			</div>
		</div>

	</div>
        
</nav>
<!-- Header End -->

<!-- Content Start -->
<div class="content">

	<!-- Hexagons Start -->
	<div class="hexagons">
		
		<!-- Row 1: Insert gap -->	
		<!-- <div class="hex hex-gap" style="background-image: url(http://placehold.it/150x150);">		
			<a ng-href="#/food"></a>
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div>
		<div class="hex" style="background-image: url(http://placehold.it/150x150);">			
			<a ng-href="#/food"></a>
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div>
		<div class="hex" style="background-image: url(http://placehold.it/150x150);">			
			<a ng-href="#/food"></a>
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div> -->
		
		<!-- Row 2: No gap -->	
		<!-- <div class="hex" style="background-image: url(http://placehold.it/150x150);">		
			<a ng-href="#/food"></a>		
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div>	
		<div class="hex" style="background-image: url(http://placehold.it/150x150);">	
			<a ng-href="#/food"></a>
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div>	
		<div class="hex" style="background-image: url(http://placehold.it/150x150);">	
			<a ng-href="#/food"></a>		
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div>
		<div class="hex" style="background-image: url(http://placehold.it/150x150);">	
			<a ng-href="#/food"></a>		
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div> -->
		
		<!-- Row 3: Insert gap -->	
		<!-- <div class="hex hex-gap" style="background-image: url(http://placehold.it/150x150);">
			<a ng-href="#/food"></a>		
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div>
		<div class="hex" style="background-image: url(http://placehold.it/150x150);">		
			<a ng-href="#/food"></a>	
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div>
		<div class="hex" style="background-image: url(http://placehold.it/150x150);">	
			<a ng-href="#/food"></a>		
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div>	 -->
		
		<!-- Row 4: No gap --> 
		<!-- <div class="hex" style="background-image: url(http://placehold.it/150x150);">		
			<a ng-href="#/food"></a>		
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div>
		<div class="hex" style="background-image: url(http://placehold.it/150x150);">	
			<a ng-href="#/food"></a>	
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div>	
		<div class="hex" style="background-image: url(http://placehold.it/150x150);">	
			<a ng-href="#/food"></a>		
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div>
		<div class="hex" style="background-image: url(http://placehold.it/150x150);">	
			<a ng-href="#/food"></a>		
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div>	 -->
		
		<!-- Row 5: Insert gap -->
		<!-- <div class="hex hex-gap" style="background-image: url(http://placehold.it/150x150);">	
			<a ng-href="#/food"></a>		
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div>
		<div class="hex" style="background-image: url(http://placehold.it/150x150);">	
			<a ng-href="#/food"></a>		
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div>		
		<div class="hex" style="background-image: url(http://placehold.it/150x150);">	
			<a ng-href="#/food"></a>		
			<div class="corner-1"></div>
			<div class="corner-2"></div>		
		</div> -->		
		<!-- <canvas ng-init="load()" ></canvas>		 -->	
		<div id="instafeed"></div>			

	</div>
	<!-- Hexagons End -->

	<div class="post-button">
		<!-- <a ng-href="#/post"><img ng-src="img/button_post.png" alt="post"/></a> -->
		<a class="btn btn-default" ng-href="#/post"><img ng-src="img/icon_post.png" alt="post"/></a>
	</div>

</div>
<!-- Content End -->

<!-- Page Specific JS -->
<script type="text/javascript">
	var feed = new Instafeed({
		get: 'tagged',
        tagName: 'foodvancouver',
	  	clientId: '9da54ad51eca4ce4af34e725ee3687b0',
	  	limit: 21,
	  	sortBy: 'most-recent',
	  	after: function () {
	    	var images = $("#instafeed").find('a');
	    	$.each(images, function(index, image) {
	      		var delay = (index * 75) + 'ms';
	      		$(image).css('-webkit-animation-delay', delay);
	      		$(image).css('-moz-animation-delay', delay);
	      		$(image).css('-ms-animation-delay', delay);
	      		$(image).css('-o-animation-delay', delay);
	      		$(image).css('animation-delay', delay);
	      		$(image).addClass('animated zoomIn');
	    	});
	  	},
	  	template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /><div class="title">{{caption}}</div><div class="likes">&hearts; {{likes}} </div></a>'

	});
	feed.run();
</script>