Header Start -->
<nav class="navbar navbar-fixed-top">

	<div class="navbar-header">

		<div class="navwrapper1">
			<div class="header-icon3 col-sm-2">
				<!-- <a ng-href="#/"><img ng-src="img/icon_back.png" alt="back"/></a> -->
				<a ng-href="#/"><img ng-src="img/icon_home.png" alt="home"/></a>
			</div>
			<div class="header-title col-sm-6">
				<h1>Notifications</h1>
			</div>
		</div>

		<div class="navwrapper2">
			<div class="header-icon1 col-sm-2">
				<a ng-href="#/notifications"><img ng-src="img/icon_notifications.png" alt="notifications"/></a>
			</div>
			<div class="header-icon2 col-sm-2">
				<a ng-href="#/bookmarks"><img ng-src="img/icon_bookmarks.png" alt="bookmarks"/></a>
			</div>
		</div>

	</div>
        
</nav>
<!-- Header End -->

<!-- Content Start -->
<div class="content">

	<div class="contacts">

		<div class="contacts-pic">
			<a ng-href="#/food"><img ng-src="img/profile1.png" alt="food"/></a>
		</div>

		<div class="messages">
			<a ng-href="#/food"><h3>Chef_Jelly</h3></a>
			<p>Hello there!</p>
		</div>
		
	</div>

</div>
<!-- Content End