<!-- Page Specific JS -->
<script language="JavaScript">
    Webcam.attach( '#my_camera' );

    function take_snapshot() {
        Webcam.snap( function(data_uri) {
            document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
            console.log(data_uri);
            sessvars.img = data_uri;
        } );
    }
</script>

<!-- Header Start -->
<nav class="navbar navbar-fixed-top">

  <div class="navbar-header">

    <div class="navwrapper1">
      <div class="header-icon3 col-sm-2">
        <a ng-href="#/"><img ng-src="img/icon_back.png" alt="back"/></a>
      </div>
      <div class="header-title col-sm-6">
        <h1>Post</h1>
      </div>
    </div>

    <div class="navwrapper2">
      <div class="header-icon1 col-sm-2">
        <a ng-href="#/notifications"><img ng-src="img/icon_notifications.png" alt="notifications"/></a>
      </div>

      <div class="header-icon2 col-sm-2">
        <a ng-href="#/bookmarks"><img ng-src="img/icon_bookmarks.png" alt="bookmarks"/></a>
      </div>
    </div>

  </div>
        
</nav>
<!-- Header End -->

<!-- Content Start -->
<div class="content">

	<!-- <div class="comment">
    <form ng-controller="PostCtrl">
      <textarea ng-model="txtcomment" placeholder="Comment here"></textarea>
      <p><button ng-click="buttonAdd();" class="btn btn-default">post</button></p>
    </form> 
	</div> -->

    <div id="my_camera"></div>
    <div id="my_result"></div>
    <form>
        <textarea id="photo-caption" placeholder="Comment here"></textarea>
    </form> 
    <div class="buttonswrapper">
      <a class="postfood btn btn-default" href="javascript:void(take_snapshot())">snap</a>
      <a class="postfood btn btn-default" onclick="photo_caption();">share</a>
    </div>

</div>
<!-- Content End -->

<!-- Page Specific JS -->
<script type="text/javascript">

    function photo_caption() {
        sessvars.photoCaption = $('#photo-caption').val();
    };

</script>

