<!-- Header Start -->
<nav class="navbar navbar-default navbar-fixed-top custom-navbar-top">
      
	<div class="navbar-header col-sm-12">
		<h1>Post</h1>
	</div>
        
</nav>
<!-- Header End -->

<!-- Content Start -->
<div class="content">

	<div class="picture">
		<img class="thing" src="http://placehold.it/300x300" width="300" height="300"/>
	</div>

	<div class="comment">

		<form ng-controller="PostCtrl">
          	<form ng-controller="PostCtrl">
             	<textarea ng-model="txtcomment" placeholder="Comment here"></textarea>
                <p><button ng-click="buttonAdd();" class="btn">post</button></p>
            </form> 

	</div>

</div>
<!-- Content End -->