<!-- Header Start -->
<nav class="navbar navbar-default navbar-fixed-top custom-navbar-top">
      
	<div class="navbar-header col-sm-12">
		<h1>Post</h1>
	</div>
        
</nav>
<!-- Header End -->

<!-- Content Start -->
<div class="content">

	<div class="picture">

		<div class="thing">
		<!-- Flow.JS: http://flowjs.github.io/ng-flow/ -->
		<div flow-init="{target: '/upload'}" flow-files-submitted="$flow.upload()" flow-file-success="$file.msg = $message">

  			<div class="wrapper">
  			<input type="file" flow-btn/>
  			<span class="btn" flow-btn>Upload</span>
  		</div>

  			<table>
    			<tr ng-repeat="file in $flow.files">
        			<td>{{$index+1}}</td>
        			<td>{{file.name}}</td>
        			<td>{{file.msg}}</td>
    			</tr>
  			</table>
		</div>
		</div>

	</div>

	<div class="comment">

		<form ng-controller="PostCtrl">
          	<form ng-controller="PostCtrl">
             	<textarea ng-model="txtcomment" placeholder="Comment here"></textarea>
                <p><button ng-click="buttonAdd();" class="btn">post</button></p>
            </form> 

	</div>

</div>
<!-- Content End -->