/* ================================================================ 
  BOOKMARKS PAGE START 
================================================================  */

.chefs {
	padding-top: 1.5em;

	li {
		padding: 0 1em;

		p {
			font-weight: bold;
			padding: 0 1.5em;
			color: #F15A24;
		}
	}

	img {
		border: 2px solid #D1D3D4;
	}
}