/* ================================================================ 
  BOOKMARKS PAGE START 
================================================================  */

.chefs {
	margin-top: 5em;

	li {
		padding: 0 1em;

		p {
			font-weight: bold;
			padding: 0 1.5em;
			color: #F15A24;
		}
	}
}