/* ================================================================ 
  CHATS PAGE START 
================================================================  */

.message-box {
	width: 100%;
	padding: 2em 2em 8em 2em;
}

.chat {
	vertical-align: middle;
	overflow: hidden;
	text-align: left;
	margin-bottom: 2em;

	.contacts-pic {
		float: left;

		img {
			width: 32px;
			height: auto;
			border: 2px solid #D1D3D4;
		}
	}

	p {
		padding-bottom: 1em;
	}
}

	.chatmessages {
		display: inline-block;
		margin-left: 2em;
	}

.chat-buttons {

	li {
		margin: 0 .5em;
	}
}

	.btn-green {
		background-color: #009245;
	}

	.btn-red {
		background-color: #C1272D;
	}

.comment {
	overflow: hidden;
	display: inline-block;
	padding: 1em 0;
	background-color: #FFFFFF;
}