/* ================================================================ 
  CHEFS PAGE START 
================================================================  */

.chefs {
	text-align: center;
	margin-top: 2em;

	img {
		margin: 0 2em;
	}

}