/* ================================================================ 
  FOODS PAGE START 
================================================================  */

/*** Image Cover: Start ***/

.image-slider {
	overflow: hidden;
	width: 100%;
	height: 300px;
	border-bottom: 2px solid #D1D3D4;
}

	.coverflow {
	    width: 360px;
	    height: 300px;  
	    background-repeat: no-repeat;
	    background-position: center center;
	    background-size: cover;
	}

/*** Profile Content: Start ***/

.profile-pic  {
	position: absolute;
	left: 40px;
	top: 308px;
	z-index: 1;
	border: 2px solid #D1D3D4;
	border-radius: 50%;
	overflow: hidden;
}

/*** Instafeed Post: Start ***/

.page {
	overflow: hidden;
    width: 360px; 
    display: inline-block;
	margin: 2em 0;
	padding: 0 1em;
}

.description {
	text-align: left;
	margin-top: 3em;
	// outline: 1px solid black;

	h2 {
		padding: 0em 1em 0em 1em;
	}

	p {
		padding: 1em 1em 0em 1em;
		text-wrap:normal;
	}
}

/*** Messages : Start ***/

// .message-box {
// 	width: 100%;
// 	margin-bottom: 4em;
// 	padding: 0 2em;
// }

// .chat {
// 	vertical-align: middle;
// 	overflow: hidden;
// 	text-align: left;
// 	margin-bottom: 2em;

// 	.contacts-pic {
// 		float: left;

// 		img {
// 			width: 32px;
// 			height: auto;
// 			border: 2px solid #D1D3D4;
// 		}
// 	}

// 	p {
// 		padding-bottom: 1em;
// 	}
// }

// 	.chatmessages {
// 		display: inline-block;
// 		margin-left: 2em;
// 	}

/*** Comments : Start ***/

.comments {
	overflow: hidden;
	display: inline-block;
	padding: 2em 3em;
	background-color: #D1D3D4;
	color: #000000;
	text-align: left;

	h4 {
		padding: 2em 0 1em 0;
	}

	textarea {
		margin-bottom: 1em;
		resize: none;
		margin-top: 1em;
	}
}

	.commentslist ul {
		list-style-type: none;  
		margin: 0;

		li {
			display: block;
			margin-bottom: 1em;
			padding: .5em;
			background-color: #FFFFFF;
			padding-left: 20px;
			padding-right: 20px;
		}        
	}

	.chat-buttons {
		text-align: center;

		.btn {
			padding: .5em;
		}

		.btn-default {
			width: 60px;
		}
	}

	.chat-buttons:after {
		content: "";
		display: block;
		clear: both;
	}

	.bubbles {
		position: relative;
		width: 300px;
		height: 50px;
		padding: 0px;
		background: #FFFFFF;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}

	.bubbles:after {
		content: '';
		position: absolute;
		border-style: solid;
		border-width: 10px 15px 10px 0;
		border-color: transparent #FFFFFF;
		display: block;
		width: 0;
		z-index: 1;
		left: -15px;
		top: 15px;
	}