/* ================================================================ 
  GROUPS PAGE START 
================================================================  */

.people {
	padding: 1em 0;
	border-bottom: 1px solid #CCCCCC;
}

.panels {
	text-align: center;
	margin: 2em 0;

	img {
		padding-bottom: 2em;
	}
	.btn {
		width: 44px;
		height: auto;
	}
}

.imgbtn img {
	width: 44px;
	height: auto;
}