@import 'master';
@import 'food';
@import 'chats';
@import 'notifications';
@import 'bookmarks';
@import 'post';
@import 'media-query';

/* ================================================================ 
  MAIN PAGE START 
================================================================  */

.hexagons {
    /*overflow: hidden;*/
    width: 360px;
    height:100%;
    position:relative;
    top: 5px;
    // left:50%;
    // margin-left:-350px;
    left: calc(50% - 180px);
}



/* HEXAGON STARTS HERE */
.hex {
    width:150px;
    height:86px;
    background-position: 50% 50%;           
    -webkit-background-size: auto 173px;                            
    -moz-background-size: auto 173px;                           
    -ms-background-size: auto 173px;                            
    -o-background-size: auto 173px;                         
    position: relative;
    float:left;
    margin:25px 5px;
    text-align:center;
    zoom:1;
    border-left: 2px solid #D1D3D4;
    border-right: 2px solid #D1D3D4;

    a {
        display:block;
        width: 100%;
        height:100%;
        text-indent:-9999em;
        position:absolute;
        top:0;
        left:0;
    }

    .corner-1, .corner-2 {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: inherit;                                
        z-index:-2;                     
        overflow:hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;         
        backface-visibility: hidden;    
        border-right: 2px solid #D1D3D4;   
        border-left: 2px solid #D1D3D4;   
    }

        .corner-1 {
            z-index:-1;
            -webkit-transform: rotate(60deg);
            -moz-transform: rotate(60deg);
            -ms-transform: rotate(60deg);
            -o-transform: rotate(60deg);
            transform: rotate(60deg);
        }
        .corner-2 {
            -webkit-transform: rotate(-60deg);
            -moz-transform: rotate(-60deg);
            -ms-transform: rotate(-60deg);
            -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
        }

    .corner-1:before, .corner-2:before {
        width: 173px;
        height: 173px;
        content: '';
        position: absolute;
        background: inherit;
        top:0;
        left: 0;
        z-index: 1;
        background: inherit;
        background-repeat:no-repeat;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden; 
        backface-visibility: hidden;                  
    }  

        .corner-1:before {
            -webkit-transform: rotate(-60deg) translate(-87px, 0px);
            -moz-transform: rotate(-60deg) translate(-87px, 0px);
            -ms-transform: rotate(-60deg) translate(-87px, 0px);
            -o-transform: rotate(-60deg) translate(-87px, 0px);
            transform: rotate(-60deg) translate(-87px, 0px);    
            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            -o-transform-origin: 0 0;
            transform-origin: 0 0;
        } 

        .hex .corner-2:before {
            -webkit-transform: rotate(60deg) translate(-48px, -11px);
            -moz-transform: rotate(60deg) translate(-48px, -11px);
            -ms-transform: rotate(60deg) translate(-48px, -11px);
            -o-transform: rotate(60deg) translate(-48px, -11px);
            transform: rotate(60deg) translate(-48px, -11px);   
            bottom:0;
        }
}
        
    .hex-gap {
        margin-left: 86px;
    }                   

.post-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;

    img {
        width: 64px;
        height: auto;
        padding-top: .3em;
    }

    .btn {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        @include transitionAll(0.25s);
    }
    .btn:hover {
        background-color: #F0825B;
    }
}

#instafeed {
    position: relative;
    a {
        padding: 0px;
        margin: 5px;
        border:1px solid #e1e1e1;
        display:inline-block;
        border-radius: 4px;
        position:relative;
        background-color: #F15A24;
        border-radius: 25px;
        border: 5px solid #F15A24;
        overflow: hidden;
        img {
            width: 150px;
            height: 150px;
        }
    }

    .further1 {
        @extend a;
        border: 5px solid #ED1C24;
    }

    .further2 {
        @extend a;
        border: 5px solid #C1272D;
    }

    .further3 {
        @extend a;
        border: 5px solid #603813;
    }

    .special {
        @extend a;
        border: 5px solid #4F4D49;
    }

    .title {
        font-size: 1.2em;
        width: 100%;
        // border-left: 5px solid #F08F6C;
        // border-right: 5px solid #F08F6C;
        height: 25px;
        background-color: #F74C0F;
        color: white;
        position:absolute;
        bottom: 0px;
        left: 0px;
        padding: 3px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title-special {
        @extend .title;
        background-color: #4F4D49;
    }

    .likes {
        background:rgba(241,90,36,0.8);
        font-family:sans-serif;
        font-size:1em;
        position:absolute;
        color:#ffffff;
        right:0px;
        top:0px;
        left:0px;
        opacity:0;
        text-align:center;
        line-height:150px;
        text-shadow:0 1px rgba(0,0,0,0.5);
        -webkit-font-smoothing:antialiased;
        -webkit-transition: opacity 100ms ease;
        -moz-transition: opacity 100ms ease;
        -o-transition: opacity 100ms ease;
        -ms-transition: opacity 100ms ease;
        transition: opacity 100ms ease;
    }

    a:hover .likes {
        opacity:1;
    }
}

/* ================================================================ 
  MAIN PAGE END 
================================================================  */


