/* ================================================================ 
  POST PAGE START 
================================================================  */

.picture {
	text-align: center;
}
	.thing {
		width: 300px;
		height: 300px;
		border: dashed 2px #CCCCCC;
	}

.comment {
	text-align: center;
	margin-top: 3em;
}
	textarea {
		width: 300px;
		margin-bottom: 2em;
		color: black;
	}

