/* ================================================================ 
  POST PAGE START 
================================================================  */

.picture {
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 300px;
	border-bottom: 3px solid #D1D3D4;
}

	.thing {
		display: inline-block;
		margin-top: 5em;
	}

		.thing input {
			display: inline;
			padding: none;
		}

.comment {
	text-align: center;
	margin-top: 3em;
}
	textarea {
		width: 300px;
		margin-bottom: 2em;
		color: black;
	}

