/* ================================================================ 
  TRADES PAGE START 
================================================================  */

.trade {
	text-align: center;
	padding-top: 8em;
}

.tradebtn {
	margin-top: 5em;
	text-align: center;
}