/* ================================================================ 
  MIXINS AND VARIABLES
================================================================  */
/* ================================================================ 
  BASE STYLE
================================================================  */
html, body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  width: 360px; }

html, body, ul, ol, li, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, p {
  border: 0;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2.2em;
  padding: .5em 0; }

h2 {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: .8em;
  color: #000000; }

h3 {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: .5em;
  color: #F15A24; }

p {
  color: #000000; }

img {
  max-width: 100%;
  height: auto; }

li {
  list-style: none;
  display: inline-block; }

.navbar {
  width: 100%;
  height: auto;
  background-color: #F15A24; }

.navbar-header {
  text-align: center;
  vertical-align: middle;
  background-color: #F15A24; }

.navwrapper1 {
  float: left; }

.navwrapper2 {
  float: right;
  padding-top: 1em; }

.header-title, .header-icon1, .header-icon2, .header-icon3 {
  display: inline-block;
  vertical-align: middle;
  padding: 0; }

.header-icon1, .header-icon2, .header-icon3 {
  width: 64px;
  height: auto; }

.col-sm-2 {
  padding: 0 15px; }

.content {
  margin-top: 55px;
  text-align: center; }

.btn {
  color: #FFFFFF;
  background-color: #F15A24;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 0; }

/* 
 *
 * Links
 *
 */
a:hover, #instafeed .further1:hover, #instafeed .further2:hover, #instafeed .further3:hover, #instafeed .special:hover {
  opacity: 1;
  text-decoration: none; }

a.btn:hover, #instafeed .btn.further1:hover, #instafeed .btn.further2:hover, #instafeed .btn.further3:hover, #instafeed .btn.special:hover {
  color: #FFFFFF;
  background-color: #C1272D; }

/* ================================================================ 
  FOODS PAGE START 
================================================================  */
/*** Image Cover: Start ***/
.image-slider {
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-bottom: 2px solid #D1D3D4; }

.coverflow {
  width: 360px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

/*** Profile Content: Start ***/
.profile-pic {
  position: absolute;
  left: 40px;
  top: 308px;
  z-index: 1;
  border: 2px solid #D1D3D4;
  border-radius: 100%;
  overflow: hidden; }

/*** Instafeed Post: Start ***/
.page {
  overflow: hidden;
  width: 360px;
  display: inline-block;
  margin: 2em 0;
  padding: 0 1em; }

.description {
  text-align: left;
  margin-top: 3em; }
  .description h2 {
    padding: 0em 1em 0em 1em; }
  .description p {
    padding: 1em 1em 0em 1em;
    text-wrap: normal; }

/*** Comments : Start ***/
.comments {
  overflow: hidden;
  display: inline-block;
  padding: 2em 3em;
  background-color: #D1D3D4;
  color: #000000;
  text-align: left; }
  .comments h4 {
    padding: 2em 0 1em 0; }
  .comments textarea {
    margin-bottom: 1em;
    resize: none;
    margin-top: 1em; }

.commentslist ul {
  list-style-type: none;
  margin: 0; }
  .commentslist ul li {
    display: block;
    margin-bottom: 1em;
    padding: .5em;
    background-color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px; }

.chat-buttons {
  text-align: center; }
  .chat-buttons .btn {
    padding: .5em; }
  .chat-buttons .btn-default {
    width: 60px; }

.chat-buttons:after {
  content: "";
  display: block;
  clear: both; }

/* Speech bubble styling */
.bubbles {
  position: relative;
  width: 300px;
  height: 50px;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.bubbles:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 15px; }

/* ================================================================ 
  CHATS PAGE START 
================================================================  */
.message-box {
  width: 100%;
  padding: 2em 2em 8em 2em; }

.chat {
  vertical-align: middle;
  overflow: hidden;
  text-align: left;
  margin-bottom: 2em; }
  .chat .contacts-pic {
    float: left; }
    .chat .contacts-pic img {
      width: 32px;
      height: auto;
      border: 2px solid #D1D3D4; }
  .chat p {
    padding-bottom: 1em; }

.chatmessages {
  display: inline-block;
  margin-left: 2em; }

.chat-buttons li {
  margin: 0 .5em; }

.btn-green {
  background-color: #009245; }

.btn-red {
  background-color: #C1272D; }

.comment {
  overflow: hidden;
  display: inline-block;
  padding: 1em 0;
  background-color: #FFFFFF; }

/* ================================================================ 
  NOTIFICATIONS PAGE START 
================================================================  */
.contacts {
  vertical-align: middle;
  overflow: hidden;
  text-align: left;
  margin: 5.2em 3em 3em 3em;
  border-bottom: 1px solid #D1D3D4; }

.contacts-pic {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 1.5em;
  border: 2px solid #D1D3D4;
  border-radius: 100%; }
  .contacts-pic img {
    border-radius: 100%; }

.messages {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2em; }

/* ================================================================ 
  BOOKMARKS PAGE START 
================================================================  */
.chefs {
  padding-top: 2em; }
  .chefs table {
    width: 100%; }
  .chefs p {
    font-weight: bold;
    padding: .5em;
    color: #F15A24; }
  .chefs img {
    border: 2px solid #D1D3D4;
    border-radius: 100%; }

/* ================================================================ 
  POST PAGE START 
================================================================  */
.picture {
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 300px;
  border-bottom: 3px solid #D1D3D4; }

.comment {
  text-align: center;
  margin-top: 3em; }

textarea {
  width: 300px;
  height: 50px;
  margin-bottom: 2em;
  color: black;
  margin-top: 50px;
  resize: none; }

#my_camera {
  width: 360px;
  height: 270px;
  border-bottom: 3px solid #D1D3D4;
  margin-left: 0px;
  margin-top: 50px; }

#my_result {
  position: absolute;
  top: 50px; }

.postfood {
  margin-top: 10px; }

.buttonswrapper a, .buttonswrapper #instafeed .further1, #instafeed .buttonswrapper .further1, .buttonswrapper #instafeed .further2, #instafeed .buttonswrapper .further2, .buttonswrapper #instafeed .further3, #instafeed .buttonswrapper .further3, .buttonswrapper #instafeed .special, #instafeed .buttonswrapper .special {
  margin: 0 .5em; }

/* =========================================================
 * Media Query Styles
 * ========================================================= */
/*
 *
 * desktop
 *
 */
/*
 *
 * tablet
 *
 */
@media only screen and (max-width: 768px) {
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0; }

  .header {
    margin-bottom: 30px; }

  .jumbotron {
    border-bottom: 0; } }
/*
 *
 * large Smartphone
 *
 */
/*
 *
 * small Smartphone
 *
 */
/* ================================================================ 
  MAIN PAGE START 
================================================================  */
.hexagons {
  /*overflow: hidden;*/
  width: 360px;
  height: 100%;
  position: relative;
  top: 5px;
  left: calc(50% - 180px); }

.post-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1; }
  .post-button img {
    width: 44px;
    height: auto;
    padding-top: .3em; }
  .post-button .btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  .post-button .btn:hover {
    background-color: #F0825B; }

.plus-button {
  position: fixed;
  right: 65px;
  bottom: 10px;
  z-index: 1; }
  .plus-button img {
    width: 44px;
    height: auto;
    padding-top: .3em; }
  .plus-button .btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  .plus-button .btn:hover {
    background-color: #F0825B; }

#instafeed {
  position: relative; }
  #instafeed a, #instafeed .further1, #instafeed .further2, #instafeed .further3, #instafeed .special {
    padding: 0px;
    margin: 5px;
    border: 1px solid #e1e1e1;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    background-color: #F15A24;
    border-radius: 25px;
    border: 5px solid #F15A24;
    overflow: hidden; }
    #instafeed a img, #instafeed .further1 img, #instafeed .further2 img, #instafeed .further3 img, #instafeed .special img {
      width: 150px;
      height: 150px; }
  #instafeed .further1 {
    border: 5px solid #ED1C24; }
  #instafeed .further2 {
    border: 5px solid #C1272D; }
  #instafeed .further3 {
    border: 5px solid #603813; }
  #instafeed .special {
    border: 5px solid #4F4D49; }
  #instafeed .title, #instafeed .title-special {
    font-size: 1.2em;
    width: 100%;
    height: 25px;
    background-color: #F74C0F;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 3px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  #instafeed .title-special {
    background-color: #4F4D49; }
  #instafeed .likes {
    background: rgba(241, 90, 36, 0.8);
    font-family: sans-serif;
    font-size: 1em;
    position: absolute;
    color: #ffffff;
    right: 0px;
    top: 0px;
    left: 0px;
    opacity: 0;
    text-align: center;
    line-height: 150px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
    -webkit-font-smoothing: antialiased;
    -webkit-transition: opacity 100ms ease;
    -moz-transition: opacity 100ms ease;
    -o-transition: opacity 100ms ease;
    -ms-transition: opacity 100ms ease;
    transition: opacity 100ms ease; }
  #instafeed a:hover .likes, #instafeed .further1:hover .likes, #instafeed .further2:hover .likes, #instafeed .further3:hover .likes, #instafeed .special:hover .likes {
    opacity: 1; }

/* ================================================================ 
  MAIN PAGE END 
================================================================  */
