/* ================================================================ 
  BASE STYLE
================================================================  */
html, body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #FFFFFF; }

html, body, ul, ol, li, form, fieldset, legend,
h1, h2, h3, h4, h5, h6, p {
  border: 0;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2.2em;
  padding: .5em 0; }

h2 {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: .8em;
  color: #000000; }

h3 {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: .5em;
  color: #F15A24; }

p {
  color: #000000; }

img {
  max-width: 100%;
  height: auto; }

li {
  list-style: none;
  display: inline-block; }

.navbar {
  width: 100%;
  height: auto;
  background-color: #F15A24; }

.navbar-header {
  text-align: center;
  vertical-align: middle;
  background-color: #F15A24; }

.navwrapper1 {
  float: left; }

.navwrapper2 {
  float: right;
  padding-top: 1em; }

.header-title, .header-icon1, .header-icon2, .header-icon3 {
  display: inline-block;
  vertical-align: middle; }

.header-icon1, .header-icon2, .header-icon3 {
  width: 64px;
  height: auto; }

.content {
  margin-top: 35px;
  text-align: center; }

.btn {
  color: #FFFFFF;
  background-color: #F15A24;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }

/* 
 *
 * Links
 *
 */
a:hover {
  opacity: .5;
  text-decoration: none; }

/* ================================================================ 
  FOODS PAGE START 
================================================================  */
.image-slider, .description-slider {
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-bottom: 2px solid #D1D3D4; }
  .image-slider img, .description-slider img {
    width: auto;
    height: 300px; }

.slider {
  overflow: hidden;
  display: inline-block; }
  .slider .food-images {
    position: relative; }
    .slider .food-images .page {
      float: left; }

.page {
  width: 400px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover; }

.profile-pic {
  position: absolute;
  left: 40px;
  top: 308px;
  z-index: 1;
  border: 2px solid #D1D3D4; }

.content-nav {
  overflow: hidden; }

.buttons {
  float: right;
  margin-top: 2em;
  margin-right: 1em; }
  .buttons li {
    margin: 0 .5em; }

.description {
  text-align: left;
  margin: 3em; }

.comments {
  overflow: hidden;
  width: 100%;
  height: 44px;
  background-color: #D1D3D4; }

/* ================================================================ 
  CHATS PAGE START 
================================================================  */
.message-box {
  width: 100%;
  height: 300px;
  padding: 2em;
  border: 1px solid blue; }

.chat-buttons li {
  margin: 0 .5em; }

.btn-green {
  background-color: #009245; }

.btn-red {
  background-color: #C1272D; }

/* ================================================================ 
  NOTIFICATIONS PAGE START 
================================================================  */
.contacts {
  vertical-align: middle;
  overflow: hidden;
  text-align: left;
  margin: 3em;
  border-bottom: 1px solid #D1D3D4; }

.contacts-pic {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 2em;
  border: 2px solid #D1D3D4; }

.messages {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2em; }

/* ================================================================ 
  BOOKMARKS PAGE START 
================================================================  */
.chefs {
  margin-top: 5em; }
  .chefs li {
    padding: 0 1em; }
    .chefs li p {
      font-weight: bold;
      padding: 0 1.5em;
      color: #F15A24; }
  .chefs img {
    border: 2px solid #D1D3D4; }

/* ================================================================ 
  POST PAGE START 
================================================================  */
.picture {
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 300px;
  border-bottom: 3px solid #D1D3D4; }

.thing {
  display: inline-block;
  margin-top: 5em; }

.thing input {
  display: inline;
  padding: none; }

.comment {
  text-align: center;
  margin-top: 3em; }

textarea {
  width: 300px;
  margin-bottom: 2em;
  color: black; }

/* =========================================================
 * Media Query Styles
 * ========================================================= */
/*
 *
 * desktop
 *
 */
/*
 *
 * tablet
 *
 */
@media only screen and (max-width: 768px) {
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0; }

  .header {
    margin-bottom: 30px; }

  .jumbotron {
    border-bottom: 0; } }
/*
 *
 * large Smartphone
 *
 */
/*
 *
 * small Smartphone
 *
 */
/* ================================================================ 
  MAIN PAGE START 
================================================================  */
.hexagons {
  /*overflow: hidden;*/
  width: 700px;
  height: 100%;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -350px; }

/* HEXAGON STARTS HERE */
.hex {
  width: 150px;
  height: 86px;
  background-position: 50% 50%;
  -webkit-background-size: auto 173px;
  -moz-background-size: auto 173px;
  -ms-background-size: auto 173px;
  -o-background-size: auto 173px;
  position: relative;
  float: left;
  margin: 25px 5px;
  text-align: center;
  zoom: 1;
  border-left: 2px solid #D1D3D4;
  border-right: 2px solid #D1D3D4; }
  .hex a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999em;
    position: absolute;
    top: 0;
    left: 0; }
  .hex .corner-1, .hex .corner-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -2;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    border-right: 2px solid #D1D3D4;
    border-left: 2px solid #D1D3D4; }
  .hex .corner-1 {
    z-index: -1;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg); }
  .hex .corner-2 {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg); }
  .hex .corner-1:before, .hex .corner-2:before {
    width: 173px;
    height: 173px;
    content: '';
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    z-index: 1;
    background: inherit;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  .hex .corner-1:before {
    -webkit-transform: rotate(-60deg) translate(-87px, 0px);
    -moz-transform: rotate(-60deg) translate(-87px, 0px);
    -ms-transform: rotate(-60deg) translate(-87px, 0px);
    -o-transform: rotate(-60deg) translate(-87px, 0px);
    transform: rotate(-60deg) translate(-87px, 0px);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0; }
  .hex .hex .corner-2:before {
    -webkit-transform: rotate(60deg) translate(-48px, -11px);
    -moz-transform: rotate(60deg) translate(-48px, -11px);
    -ms-transform: rotate(60deg) translate(-48px, -11px);
    -o-transform: rotate(60deg) translate(-48px, -11px);
    transform: rotate(60deg) translate(-48px, -11px);
    bottom: 0; }

.hex-gap {
  margin-left: 86px; }

.post-button {
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 1; }
  .post-button img {
    width: 64px;
    height: auto;
    padding-top: .4em; }
  .post-button .btn {
    width: 64px;
    height: 64px;
    border-radius: 50%; }

/* ================================================================ 
  MAIN PAGE END 
================================================================  */
/* 
 *
 * index/main page styling
 *
 */
body {
  padding-top: 20px;
  padding-bottom: 20px; }

.header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px; }

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px; }

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

@media (min-width: 768px) {
  .container {
    max-width: 730px; } }
.container-narrow > hr {
  margin: 30px 0; }

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }

.marketing {
  margin: 40px 0; }
  .marketing p + h4 {
    margin-top: 28px; }
